@CHARSET "UTF-8";
body {
    margin: 0;
    padding: 10px;
}
* {
  box-sizing: border-box;
}
.table-item {
    text-align: left;
}
.table-item.first {
    background-color: #f4faf2;
    float: left;
}
.table-item.second {
    float: left;
}
.table-item.third {
    background-color: #f4faf2;
    float: left;
}
 .table-item.fourth { 
    float: left;
}
.table-container {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: 45% 45%;
	grid-row-gap: 2px;
	grid-column-gap: 10px;
	padding: 10px;
/*     display: table; */
/*     max-width: 90%; */
/*     margin: 0px auto; */
/*     border-radius: 5px; */
}
.table-container-checkbox {
    display: table;
    width: 90%;
    margin: 0px auto;
    border-radius: 5px;
    border: 2px solid #d0d0d0;  
}
#submit_it {
    width: 100px;
    height: 50px;
    background-color: #616d83;
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
}
 .menu {
      float:left;
      width:45%;
      height:550px;
      border:none;
      overflow:hidden;
    }
	video {
	  max-width: 100%;
	  height: auto;
	}

#skills {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#skills td:first-child, #skills th:first-child {
    width: 5%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills td:first-child + td {
    /* second column */
}

#skills td:first-child + td + td { /* third column */ }

#skills td:first-child + td + td +td { /* fourth column */ }

#skills td:first-child + td + td +td +td{ /* fifth column */ }

#skills td:first-child + td + td +td +td +td, #skills th:first-child + th + th +th +th +th{
    /* six column */
    width: 25%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills td, #skills th {
    width: 15%;
    border: 1px solid #ddd;
    padding: 8px;
}

#skills tr:nth-child(odd){background-color: #f2f2f2;}

#skills tr:hover {background-color: #ddd;}

#skills th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #33572e;
    color: white;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;

}
.a_simple {
	text-decoration: none;
  font-weight:normal !important;
}

.a_simple:focus {
  border-bottom: 1px solid;
}
.a_simple:hover {
  border-bottom: 1px solid;     
}
#submi {
    width: 100px;
    height: 50px;
    background-color: #33572e;
    font-size: 12px;
    color: white;
  	position: absolute; 
     right: 10px; 
}
input[type=submit]:hover {
    opacity:0.8;
}
#submi:disabled,
#submi[disabled]{
  border: 1px solid #999999;
  background-color: #7c9981;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="table-item, first, second, third, fourth"] {
    width: 50%;
  }
/* /* unvisited link */ */
/* a:link { */
/*   color: #524f9a; */
/* } */

/* /* visited link */ */
/* a:visited { */
/*   color: #524f9a; */
/* } */
